// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";


//Colors
$SiteGray: #DDDDDD;
$SiteBlue: #336699;
$SiteRed:  #993333;
$SiteGreen: #669933;
$SiteBlack: #000000;
$SiteWhite: #FFFFFF;

$HeaderHeight: 70px;
$FooterHeight: 70px;

.header-bar {
	background: $SiteGray;
	height: $HeaderHeight;
}

.footer-bar {
	background: $SiteGray;
	height: $FooterHeight;
}

.vfoot {
	vertical-align:middle;
}

.bg-blue{
	background: $SiteBlue;
}

.header-font {
	color: $SiteBlue;
	font-size: $h3-font-size;
}

.footer-font{
	color: $SiteBlue;
	font-size: $h3-font-size;
}

a, h1, h2, h3, h4{
	color: $SiteBlue;
}

.avatar {
		width: 64px; 
		height: 64px;
}

pre {
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 12px;
	margin-bottom: 10px;
	overflow: auto;
	width: auto;
	padding: 5px;
	background-color: $SiteGray;
	width: 650px;
	padding-bottom: 20px;
	max-height: 600px;
}

code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	color: $SiteRed;	
}

.nav-text{
	font-size: $h5-font-size;
	color: $SiteWhite;
}

.nav-cont{
	background: $SiteBlue;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

div.middle {
    display: table-cell;
    vertical-align: middle;
    height: $FooterHeight;
}

div.debug{
	border: 1px solid red;
}
div.debug2{
	border: 1px solid blue;
}