// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";


.bg-gray {
	background: #DDDDDD;
}

.bg-green {
	background: #669933;
}

.bg-blue{
	background: #336699;
}

.header-font h1, h4{
	color: #336699;
}


a, h1, h2, h3, h4{
	color: #336699;
}

img.avatar {
	width: 64px; 
	height: 64px;
}