// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";


//Colors
$SiteGray: #DDDDDD;
$SiteBlue: #336699;
$SiteRed:  #993333;
$SiteGreen: #669933;
$SiteBlack: #000000;
$SiteWhite: #FFFFFF;

$HeaderHeight: 70px;
$FooterHeight: 70px;


.header-bar {
	background: $SiteGray;
	height: $HeaderHeight;
}

.footer-bar {
	background: $SiteGray;
	height: $FooterHeight;
}

.bg-blue{
	background: $SiteBlue;
}

.header-font {
	color: $SiteBlue;
	font-size: $h3-font-size;
}

.footer-font{
	color: $SiteBlue;
	font-size: $h3-font-size;
}

a, h1, h2, h3, h4{
	color: $SiteBlue;
}

.avatar {
		width: 64px; 
		height: 64px;
}

.entry-content{
	ul, ol{
	    list-style-position: inside;
	    margin-left: 0;
	    padding-left: 25px;
	}	
}

/* Code */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

.nav-text{
	font-size: $h5-font-size;
	color: $SiteBlue;
}

.nav-cont{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

div.middle {
    display: table-cell;
    vertical-align: middle;
    height: $FooterHeight;
}

.debug{
	border: 1px solid red;
}
.debug2{
	border: 1px solid blue;
}