<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<!-- Custom Generated CSS -->
	    <link rel="stylesheet" href="{{ site.url }}/stylesheets/app.css">
	</head>
	<body>
		<!-- Top Navigation -->
		<nav class="top-bar">
		  <ul class="title-area">
		    <!-- Title Area -->
		    <li class="name">
		      <h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
		    </li>
		    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon has-dropdown"><a href="#"><span>Menu</span></a>
				<ul class="dropdown">
					<li><a href="{{ site.url }}">Home</a>
					<li><a href="{{ site.url }}/Archive">Archive</a>
					<li><a href="{{ site.url }}/Books">Books</a>
					<li><a href="{{ site.url }}/AboutMe">About Me</a>
				</ul>
			</li>
		  </ul>
		  <!-- Top Bar -->
		  <section class="top-bar-section header-bar">
		    <!-- Right Nav Section -->
			<ul class="right">
				<li class="divider hide-for-small"></li>
				<li><a href="{{ site.url }}">Home</a>
				<li><a href="{{ site.url }}/Archive">Archive</a>
				<li><a href="{{ site.url }}/Books">Books</a>
				<li><a href="{{ site.url }}/AboutMe">About Me</a>
		  	</ul>
		  </section>
		</nav>
		<!--Main Content Header -->
	    <header class="header-bar header-font">
	      <div class="row">
	        <div class="twelve columns">
	          <h4 class="hide-for-small">{{ site.tagline }}</h4>
	        </div>
	      </div>
	    </header>		
		<!-- Main Content Area -->
		<div class="row">
		  <div class="twelve columns">{{ content }}</div>
		</div>
		<!-- Footer -->
		<footer class="header-bar header-font hide-for-small">
		  <div class="row">
			<div class="small-6 large-centered columns">
				<h4>
					<img class="avatar" src="{{ site.url }}/img/site/Mcallister.png" alt="Captian Mcallister">
					{{ site.footerline }}
				</h4>
			</div>
		  </div>
		</footer>
					  
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="{{ site.url }}/javascripts/vendor/custom.modernizr.js"></script>
		<script src="{{ site.url }}/javascripts/foundation/foundation.js"></script>
	    <script src="{{ site.url }}/javascripts/foundation/foundation.topbar.js"></script>
	    <script>
	      $(document).foundation();
	    </script>
		
	</body>
</html>
